body{
    margin: 50px;
    padding: 30px;
    text-align: center;
    
}
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* display: flex; */
}

h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p{
    font-family: Arial, Helvetica, sans-serif;
}

footer{
    text-align: center;
    padding: 40px 0;
    margin-top: 50px;   
}